body {
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

fieldset {
    background-color: black;
    border-style: none;
    border-width: 0px;
    color: yellowgreen;
    font-size: 24px;
    margin: auto;
    width: 45%
}

legend {
    background-color: indigo;
    margin: auto;
}

ul, ol {
    list-style-type: none;
}

img.logo {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 500px;
    height: 400px;
}

#squad {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#map {
    text-align: center;
    font-size: 32px;
}

#miniatury {
    width: 85%;
    text-align: center;
}

a:link {
    color: yellowgreen;
}

a:visited {
    color: gray;
}

#link {
    margin: auto;
    text-align: center;
}